{% extends 'base.html' %}


{% block etatactuel %}
{{section.nom_section}}
{% endblock etatactuel %}

{% block content %}

<div class="container mt-3">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#home">Consommation de la section</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#menu1">Consommation des dispositifs</a>
        </li>
    </ul>
    
      <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <div class="content-header">
                <div>
                    <h6>Consommation de ce jour {{today}} pour {{section.nom_section}}</h6>
                    <h1>{{daily_consommation}} m&sup3</h1>
                    <div class="dropdown">
                        <a href="{% url 'index'%}" class="dropdown-item"><ion-icon name="home-outline"></ion-icon></a>
                    </div>
                </div>
                <div>
                    <div>
                        <p>Consommation de cette semaine</p>
                        <h3>{{weekly_consommation}} m&sup3</h3>
                    </div>
                </div>
                <div>
                    <div>
                        <p>Consommation de ce mois</p>
                        <h3>{{monthly_consommation}} m&sup3</h3>
                    </div>
                </div>
            </div>   
            <div style="width: 80%; margin: 0 auto;">
                <h3 class="text-center">Graphique de la consommation des sept derniers jours</h3>
                <canvas id="myChart"></canvas>  
            </div>    
        </div>

        <div id="menu1" class="container tab-pane fade"><br>
            <div class="row">
                <div class="col-md-4">
                    <h3 class="text-center">Journalière</h3>
                    <canvas id="dispo-daily-chart"></canvas>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">Hebdomadaire</h3>
                    <canvas id="dispo-weekly-chart"></canvas>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">Mensuelle</h3>
                    <canvas id="dispo-monthly-chart"></canvas>
                </div>
        </div><br>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script>
    document.addEventListener('DOMContentLoaded', function() {
        var dropdownButton = document.querySelector('.dropdown-button');
        var dropdown = document.querySelector('.dropdown');

        dropdownButton.addEventListener('click', function() {
            dropdown.classList.toggle('open');
        });

        document.addEventListener('click', function(event) {
            if (!dropdown.contains(event.target)) {
                dropdown.classList.remove('open');
            }
        });
    });
</script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
        var data = {
            labels: [
                {% for item in data %}
                "{{ item.day|date:'SHORT_DATE_FORMAT' }}",
                {% endfor %}
            ],
            datasets: [{
                label: 'Consommation des sept derniers jours en m³',
                data: [
                    {% for item in data %}
                    {{ item.quantite_sum }},
                    {% endfor %}
                ],
                backgroundColor: 'lightblue',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        };

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
</script>
<script>
    // Configuration du graphique circulaire journalier
    var DispositifDailyChart = new Chart(document.getElementById('dispo-daily-chart'), {
        type: 'pie',
        data: {
            labels: [{% for dispo in dispositifs %}"{{ dispo.nom_lieu }}",{% endfor %}],
            datasets: [{
                data: [{% for dispo in daily_consommation_dispositif %}{{ dispo }},{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.7)',
                    'rgba(54, 162, 235, 0.7)',
                    'rgba(255, 206, 86, 0.7)',
                    'rgba(75, 192, 192, 0.7)',
                    'rgba(153, 102, 255, 0.7)',
                ],
            }],
        },
        options: {
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var currentValue = dataset.data[tooltipItem.index];
                        var total = dataset.data.reduce(function (previousValue, currentValue) {
                            return previousValue + currentValue;
                        });
                        var percentage = ((currentValue / total) * 100).toFixed(2) + '%';
                        return percentage;
                    },
                },
            },
        },
    });

    // Configuration du graphique circulaire hebdomadaire
    var DispositifWeeklyChart = new Chart(document.getElementById('dispo-weekly-chart'), {
        type: 'pie',
        data: {
            labels: [{% for dispo in dispositifs %}"{{ dispo.nom_lieu }}",{% endfor %}],
            datasets: [{
                data: [{% for dispo in weekly_consommation_dispositif %}{{ dispo }},{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.7)',
                    'rgba(54, 162, 235, 0.7)',
                    'rgba(255, 206, 86, 0.7)',
                    'rgba(75, 192, 192, 0.7)',
                    'rgba(153, 102, 255, 0.7)',
                ],
            }],
        },
        options: {
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var total = dataset.data.reduce(function (previousValue, currentValue) {
                            return previousValue + currentValue;
                        });
                        var currentValue = dataset.data[tooltipItem.index];
                        var percentage = Math.floor(((currentValue / total) * 100) + 0.5);
                        return data.labels[tooltipItem.index] + ': ' + currentValue + ' m³ (' + percentage + '%)';
                    },
                },
            },
        },
    });

    // Configuration du graphique circulaire mensuel
    var DispositifMonthlyChart = new Chart(document.getElementById('dispo-monthly-chart'), {
        type: 'pie',
        data: {
            labels: [{% for dispo in dispositifs %}"{{ dispo.nom_lieu }}",{% endfor %}],
            datasets: [{
                data: [{% for dispo in monthly_consommation_dispositif %}{{ dispo }},{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.7)',
                    'rgba(54, 162, 235, 0.7)',
                    'rgba(255, 206, 86, 0.7)',
                    'rgba(75, 192, 192, 0.7)',
                    'rgba(153, 102, 255, 0.7)',
                ],
            }],
        },
        options: {
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var total = dataset.data.reduce(function (previousValue, currentValue) {
                            return previousValue + currentValue;
                        });
                        var currentValue = dataset.data[tooltipItem.index];
                        var percentage = Math.floor(((currentValue / total) * 100) + 0.5);
                        return data.labels[tooltipItem.index] + ': ' + currentValue + ' m³ (' + percentage + '%)';
                    },
                },
            },
        },
    });
</script>
{% endblock scripts %}