{% extends 'base.html' %}

{% block etatactuel %}Ajouter un nouveau dispositif{% endblock etatactuel %}


{% block content %}


<div class="container mb-5">
    <form method="POST" class="card p-3 mt-2 myform" action="" autocomplete="off"> 
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                    <div class="row p-2">
                        <label for="nom_lieu"> Lieu d'emplacement </label>
                        {{form.nom_lieu}}
                    </div>
                    <div class="row p-2">
                        <label for="latitude"> Source d'eau </label>
                        {{form.source_eau}}
                    </div>
            </div>
        </div>

        <div class="mt-2">
            <button style= "font-size: 15px;" type="submit" class="btn btn-info mb-3">
                Valider
            </button>
        </div> 
    </form>
</div>


{% endblock content %}