{% extends 'base.html' %}

{% block etatactuel %}
Prevision
{% endblock etatactuel %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Prévision de consommation quotidienne</h1>
    <table class="table table-bordered table-striped mt-4">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Date</th>
                <th>Prévision</th>
                <th>Intervalle de confiance (Inférieur)</th>
                <th>Intervalle de confiance (Supérieur)</th>
            </tr>
        </thead>
        <tbody>
            {% for date, prediction, lower, upper in forecast_data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ date|date:"Y-m-d" }}</td>
                <td>{{ prediction }}</td>
                <td>{{ lower }}</td>
                <td>{{ upper }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="mt-4">
        <h1>Graphique des prévisions</h1>
        <canvas id="forecastChart" width="800" height="400"></canvas>
    </div>
</div>
{% endblock content %}
