{% extends 'base.html' %}


{% block etatactuel %}
Profil
{% endblock etatactuel %}

{% block content %}
<div class="consojour">
    <form method="POST" class="card p-3 mt-2 myform details" action="{% url 'profil' %}">
        {% csrf_token %}
            <div class="row p-2">
                <div class="form-group col-5">
                    <label for="username"><strong>Nom d'utilisateur</strong></label>
                    <input type="text" class="form-control" id="username" name="username" value="{{entreprise.user.username }}">
                </div>
                <div class="form-group col-5">
                    <label for="nom_societe"><strong>Nom de l'entreprise</strong></label>
                    <input type="text" class="form-control" id="nom_societe" name="nom_societe" value="{{ entreprise.nom_societe }}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-5">
                    <label for="telephone"><strong>Téléphone</strong></label>
                    <input type="text" class="form-control" id="telephone" name="telephone" value="{{ entreprise.telephone }}">
                </div>
                <div class="form-group col-5">
                    <label for="email"><strong>Email</strong></label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ entreprise.user.email }}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-5">
                    <label for="domaine_act"><strong>Domaine d'activité</strong></label>
                    <input type="text" class="form-control" id="domaine_act" name="domaine_act" value="{{ entreprise.domaine_act }}">
                </div>
                <div class="form-group col-5">
                    <label for="localite"><strong>Localisation</strong></label>
                    <input type="text" class="form-control" id="localite" name="localite" value="{{ entreprise.localite }}">
                </div>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-outline-info text-dark">Modifier</button>
                <a href="{% url 'dispo' %}" class="btn btn-outline-primary text-dark">Liste des dispositifs</a>
                <a href="{% url 'change_password' %}" class="btn btn-outline-primary text-dark">Modifier votre mot de passe</a>
                <p>Conso globale : {{consommation}}</p>
            </div>
    </form>
</div>


{% endblock content %}